{% if gpg_enable_ssh_support %}
enable-ssh-support
{% endif %}

default-cache-ttl 600
max-cache-ttl 7200
default-cache-ttl-ssh 600
max-cache-ttl-ssh 7200

{% if gpg_pinentry_path %}
pinentry-program {{ gpg_pinentry_path }}
{% endif %}
