personal-cipher-preferences AES256 AES192 AES
personal-digest-preferences SHA512 SHA384 SHA256
personal-compress-preferences ZLIB BZIP2 ZIP Uncompressed
default-preference-list SHA512 SHA384 SHA256 AES256 AES192 AES ZLIB BZIP2 ZIP Uncompressed
cert-digest-algo SHA512
s2k-digest-algo SHA512
s2k-cipher-algo AES256

charset utf-8
fixed-list-mode
ignore-time-conflict
keyid-format 0xlong
list-options show-uid-validity
no-comments
no-emit-version
no-greeting
no-symkey-cache
require-cross-certification
use-agent
verify-options show-uid-validity

{% if gpg_default_key %}
default-key {{ gpg_default_key }}
{% endif %}
